@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #445256;
$secondary_color: #ffc000;
$background: #282828;
$border: #3a3a3a;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: $secondary_color;
	.moduletable_to1 {
		padding: 10px;
		background-color: #fff;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 15px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								color: #fff;
							}
						}
						a {
							padding: 10px 0;
							font-size: 18px;
							color: $primary_color;
							text-transform: uppercase;
							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		input {
			&[type='search'] {
				height: inherit;
				margin: 0;
				padding: 5px 5px 5px 32px;
				background: {
					color: transparent;
					image: url(moduletable_to3_input_bg.png);
					position: 6px 4px;
					repeat: no-repeat;
				}
				border-color: #fff;
				font-size: 12px;
				color: $primary_color;
				&::placeholder {
					color: $primary_color;
				}
			}
		}
		button {
			display: none;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Title Products */

.title_products {
	background: {
		color: $background;
		image: url(patron_bg.png);
		position: center;
	}
	color: #fff;
	h1 {
		font-size: 60px;
		margin: 0;
		text-transform: uppercase;
	}
}

/* Content */

.content {
	h3 {
		font-size: 28px;
	}
	iframe {
		border: 0;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.container {
		max-width: 294px;
		margin: auto;
		border: 1px solid $secondary_color;
		position: relative;
		.more {
			right: 0;
			position: absolute;
			z-index: 2;
			a {
				width: 38px;
				height: 38px;
				padding-top: 5px;
				background-color: $secondary_color;
				font-size: 20px;
				color: #fff;
				text-align: center;
				display: block;
			}
		}
		.image {
			position: relative;
			z-index: 1;
		}
		.text {
			padding: 15px;
			background-color: $background;
			font-size: 12px;
			color: #fff;
			p {
				margin: 0;
				text-align: justify;
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				a {
					img {
						margin: 0;
						border: 1px solid $secondary_color;
					}
					h2 {
						padding: 15px !important;
						background-color: $secondary_color;
						color: #fff;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	.patron {
		background: {
			color: $background;
			image: url(patron_bg.png);
			position: center;
		}
		color: #fff;
		h1 {
			font-size: 60px;
			margin: 0;
			text-transform: uppercase;
		}
		p {
			margin: 0;
		}
	}
	&.space {
		padding: 90px 0;
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 100px 0;
	.moduletable_b11 {
		font-size: 18px;
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 60px;
	background: {
		image: url(block_2_bg.png);
		position: bottom;
		repeat: repeat-x;
	}
	.moduletable_b21 {
		#a {
			border-left: 2px solid transparent;
		}
		#b {
			border: {
				left: 1px solid $secondary_color;
				right: 1px solid $secondary_color;
			}
		}
		#c {
			border-right: 2px solid transparent;
		}
	}
}

/* Bottom */

.bottom {
	padding: 50px 0;
	background: {
		color: $background;
		image: url(patron_bg.png);
		position: center;
	}
	color: #fff;
	.moduletable_bo1 {
		h3 {
			font-size: 16px;
		}
		ul {
			margin: 0;
			li {
				list-style: none;
				&:before {
					margin-right: 10px;
					top: 0em;
					content: '\25a0';
					font-size: 1em;
					color: $secondary_color;
					position: relative;
				}
			}
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 15px 0;
	background-color: $secondary_color;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}